.homepage_container {
  max-width: 1000px;
}

.user_profile h3 {
  height: 35px;
  overflow: hidden;
}
.user_profile dt {
  width: 78px;
  float: left;
}
.user_profile dd {
  width: 375px;
  float: left;
  margin: 0;
}
.user_profile dt, .user_profile dd {
  margin-bottom: 5px;
}

/***********    activitie_list   *************/
.activitie_list_box {
  min-height: 200px;
  margin-bottom: 20px;
  padding: 10px;
  border-bottom: 1px solid #999AA1;
  overflow: hidden;
}
.activitie_list_box h3 {
  height: 54px;
  overflow: hidden;
  font-size: 22px;
  line-height: 28px;
}
.activitie_list_box dt {
  width: 78px;
  float: left;
}
.activitie_list_box dd {
  width: 375px;
  float: left;
  margin: 0;
}
.activitie_list_box dt, .activitie_list_box dd {
  margin-bottom: 5px;
}

.homepage_tab {
  margin-left: -1px;
}
.homepage_tab li {
  height: 40px;
  margin-bottom: 5px;
  text-align: center;
  line-height: 40px;
  border-radius: 0 5px 5px 0;
}
.homepage_tab li.act {
  background: #6EBA7B;
  color: #fff;
}
.homepage_tab a {
  display: block;
}
.homepage_tab_phone li {
  float: left;
  border-radius: 5px 5px 0 0;
  box-shadow: 1px 1px 5px #999AA1;
}


.footer_nav {
  height: 35px;
  position: fixed;
  bottom: 0px;
  text-align: center;
}
.footer_items {
  margin: 0;
}
.footer_items li {
  width: 49.5%;
  float: left;
  border-right: 1px solid #fff;
  line-height: 41px;
}
.footer_items li a {
  color: #fff;
  display: block;
}

@media (min-width: 480px) {		/*手机以上时*/
  .activitie_list_block {
    border-right: 1px solid #999AA1;
}
}

@media (max-width: 480px) {		/*手机时*/
  .activitie_list_block {
    margin-bottom: 50px;
}
}

