/**************************    public    ****************************/

div {
	border: 1px solid #000;
}
.classify_nav li a, .lassify_nav_phone li a, .time_picker li a {
	display: block;
}
a:hover {
	text-decoration: none;
}
/**************************    /public    ****************************/


/**************************    main content    ****************************/
/***********    classify_nav   *************/
.classify_nav {
	padding: 10px;
}
.classify_nav li {
	margin-bottom: 5px;
	padding-left: 5px;
	padding: 7px;
}
.classify_nav_phone {
	width: 100%;
	min-height: 50px;
}
.classify_nav_phone li {
	float: left;
	padding: 3px;
}
.classify_nav li.act, .lassify_nav_phone li.act {
	background: #6EBA7B;
}
.classify_nav li:hover, .lassify_nav_phone li:hover {
	background: #6EBA7B;
}

/***********    /classify_nav   *************/


/***********    time_picker   *************/
.time_picker {
	min-height: 30px;
	margin: 0px;
	padding: 10px;
	overflow: hidden;
}
.time_picker li {
	float: left;
	margin-right: 5px;
	padding: 5px;
}
.time_picker li:hover {
	background: #6EBA7B;
}
.time_picker li.act {
	background: #6EBA7B;
}

/***********    /time_picker   *************/


/***********    activitie_list   *************/
.activitie_list_box {
	min-height: 200px;
	margin-bottom: 20px;
	padding: 10px;
	overflow: hidden;
}
.activitie_list_box h3 {
	height: 35px;
	overflow: hidden;
}
.activitie_list_box dt {
	width: 78px;
	float: left;
}
.activitie_list_box dd {
	width: 375px;
	float: left;
}
.activitie_list_box dt, .activitie_list_box dd {
	margin-bottom: 5px;
}


/***********    activitie_list   *************/

/***********    hot_activities   *************/
.hot_activities {
	margin-bottom: 20px;
}
.hot_activities ul {
	margin-left: 0px;
}
.hot_activities ul li {
	margin-bottom: 10px;
}

/***********    hot_activities   *************/

/***********    hot_organizations   *************/
.hot_organizations h4 a {
	float: right;
	font-size: 12px;
	color: #EFB07C;
}
.hot_organizations ul li {
	width: 50px;
	float: left;
	margin-right: 15px;
	margin-bottom: 15px;
}

/***********    hot_organizations   *************/

/***********    footer   *************/
.footer {
	text-align: center;
}
.footer .info a {
	margin-left: 5px;
}


/***********    footer   *************/















/**************************   / main content    ****************************/


/**************************    @media    ****************************/
@media (max-width: 480px) {
    .hot_organizations ul li { margin: 10px; }
}

/**************************   / @media    ****************************/
